.redText {
  color: red;
}

.greenText {
  color: green;
  text-align: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.readonlyInput {
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  white-space: normal;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.copyButton {
  opacity: 0.7;
  height: 100%;
  border-radius: 5px;
}

.copyButton:hover {
  opacity: 1;
}

textarea {
  background-color: #eef8ff;
  border: rgba(1, 69, 178, 0.2) 1px solid;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #030a49;
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none; /* Prevent resizing */
}

.textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Hide scrollbar track */
textarea::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.claimButton {
  font-family: inherit;
  font-size: 16px;
  background: #1F45B2;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.claimButton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.claimButton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.claimButton:hover .svgWrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.claimButton:hover .diamond {
  transform: translateX(1.7em) scale(1.1);
}

.claimButton:hover span {
  transform: translateX(5em);
}

.claimButton:active {
  transform: scale(0.95);
}

.diamond {
  scale: 0.8
}

@keyframes fly-1 {
  from {
      transform: translateY(0.1em);
  }

  to {
      transform: translateY(-0.1em);
  }
}