.App {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.claimForm {
  gap: 1rem;
  height: 100%;
  display: flex;
  min-width: 360px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .claimForm {
    width: 500px;
  }
}

.claimForm > p {
  align-self: flex-start;
}

.claimForm > div {
  width: 100%;
}

input {
  background-color: #EEF8FF;
  border: rgba(1, 69, 178, 0.2) 1px solid;
  width: 100%;
  border-radius: 5px;
  color: #030a49;
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus {
  border: 1px solid #0145b2;
  outline: none;
}

button {
  color: #0145b2;
  width: 100px;
  border: 2px rgba(1,69,178,0.2) solid;
  border-width: 2px;
  border-color: rgba(1,69,178,0.2);
  border-radius: 99px;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 700;
  padding-top: 0.7em;
  padding-right: 1.7em;
  padding-bottom: 0.7em;
  padding-left: 1.7em;
  font-weight: 700;
  background-color: #EEF8FF;
  justify-content: center;
  cursor: pointer;
  align-self: flex-end;
}

button:hover {
  color: white;
  background-color: #0145b2;
  transition: background-color .5s;
}

h1 {
  margin-bottom: 5vh;
}

.body-bg {
  z-index: -1;
  aspect-ratio: auto;
  background-image: url("./assets/images/bodyBg.png");
  background-position: 0 0;
  background-size: 162px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.body-bg-glow {
  z-index: -2;
  opacity: .5;
  filter: blur(100px);
  background-color: #0145b2;
  border-radius: 300px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}